<div class="action-dialog d-flex flex-col jst-space gap16 wp100 mh185 p-6">
  <div class="action-dialog-header d-flex jst-space align-center">
    <span class="fs20 ft-primary-b gap16" i18n *ngIf="data.from != 'UNREGISTER'">Info</span>
    <span class="fs20 ft-primary-b gap16" i18n *ngIf="data.from == 'UNREGISTER'">Unregister</span>
    <div class="close-btn wh24 p-rel cursor" mat-dialog-close>
      <div class="icons-24 close-icon wh24 top-right"></div>
    </div>
  </div>

  <ng-container *ngIf="data.from == 'CASH_GAMES'">
    <div class="action-dialog-body">
      <div class="fs14 ft-primary-md grey900" i18n>
        Are you sure you want to remove this table from favorites?
      </div>
    </div>
    <div
      class="action-dialog-footer d-flex align-center h48 gap18 m-0 p-0 wp100"
      mat-dialog-actions
    >
      <button
        type="button"
        class="btn btn-primary-outline w183 h48"
        mat-button
        (click)="userConsent(false)"
        i18n
      >
        No
      </button>
      <button
        type="button"
        class="btn btn-primary w183 h48"
        mat-button
        cdkFocusInitial
        (click)="userConsent(true)"
        tabindex="0"
        i18n
      >
        Yes
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="data.from == 'SNG'">
    <div class="action-dialog-body">
      <div class="fs14 ft-primary-md grey900" i18n>
        All tables are currently occupied. Please select another room type to play instantly.
      </div>
    </div>
    <div
      class="action-dialog-footer d-flex align-center h48 gap18 m-0 p-0 wp100"
      mat-dialog-actions
    >
      <button
        type="button"
        class="btn btn-primary btn-ok w183 h48"
        mat-button
        cdkFocusInitial
        tabindex="0"
        i18n
      >
        OK
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="data.from == 'UNREGISTER'">
    <div class="action-dialog-body">
      <div class="fs14 ft-primary-md grey900" i18n>Are you sure you want to unregister?</div>
    </div>
    <div
      class="action-dialog-footer d-flex align-center h48 gap18 m-0 p-0 wp100"
      mat-dialog-actions
    >
      <button type="button" class="btn btn-primary-outline w183" mat-button i18n>No</button>
      <button
        type="button"
        class="btn btn-primary w183 h48"
        mat-button
        cdkFocusInitial
        tabindex="0"
        i18n
      >
        Yes
      </button>
    </div>
  </ng-container>

  <ng-container *ngIf="data.from == 'tournament'">
    <div class="action-dialog-body">
      <div class="fs14 ft-primary-md grey900" i18n>
        Creating your tables. Please wait, it may take some time.
      </div>
    </div>
    <div
      class="action-dialog-footer d-flex align-center h48 gap18 m-0 p-0 wp100"
      mat-dialog-actions
    >
      <button
        type="button"
        class="btn btn-primary btn-ok w183 h48"
        mat-button
        cdkFocusInitial
        tabindex="0"
        i18n
      >
        OK
      </button>
    </div>
  </ng-container>
</div>
