@import '../abstract/variables';

.game-cards {
  width: 42px;
  height: 60px;
  background: $grey100;
  border: 2px solid $bg-light;
  border-radius: 6px;
  padding: 0 2px;
  position: absolute;

  .card-face {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
  }

  .card-suite {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;

    &.mid {
      width: 32.24%;
      height: 21.88%;
    }

    &.btm {
      width: 63.4%;
      height: 43%;
      right: 2px;
      bottom: 1px;
    }
  }

  &.h {
    .card-face {
      color: #e41919;
    }

    .card-suite {
      background-image: url('../images/settings/cards/Heart.svg');
    }

    &.full-color-gloss {
      background: #e41919;

      .card-face {
        color: $bg-light;
      }

      .card-suite {
        background-image: url('../images/settings/cards/HeartWhite.svg');
      }
    }
  }

  &.s {
    .card-face {
      color: $black;
    }

    .card-suite {
      background-image: url('../images/settings/cards/Spade.svg');
    }

    &.full-color-gloss {
      background: $black;

      .card-face {
        color: $bg-light;
      }

      .card-suite {
        background-image: url('../images/settings/cards/SpadeWhite.svg');
      }
    }
  }

  &.c {
    .card-face {
      color: $black;
    }

    .card-suite {
      background-image: url('../images/settings/cards/Club.svg');
    }

    &.four-color-deck {
      .card-face {
        color: #04a105;
      }

      .card-suite {
        background-image: url('../images/settings/cards/ClubGreen.svg');
      }
    }

    &.full-color-gloss {
      background: #04a105;

      .card-face {
        color: $bg-light;
      }

      .card-suite {
        background-image: url('../images/settings/cards/ClubWhite.svg');
      }
    }
  }

  &.d {
    .card-face {
      color: #e41919;
    }

    .card-suite {
      background-image: url('../images/settings/cards/Diamond.svg');
    }

    &.four-color-deck {
      .card-face {
        color: #0e1fd6;
      }

      .card-suite {
        background-image: url('../images/settings/cards/DiamondBlue.svg');
      }
    }

    &.full-color-gloss {
      background: #0e1fd6;

      .card-face {
        color: $bg-light;
      }

      .card-suite {
        background-image: url('../images/settings/cards/DiamondWhite.svg');
      }
    }
  }

  &.play-cards {
    position: relative;
    width: 66px;
    height: 90px;

    &.md {
      width: 60px;
      height: 85px;
    }

    .card-suite {
      &.btm {
        background-position: right;
        width: 100%;
        height: 43%;
      }
    }
  }

  &.show-play-cards {
    position: relative;
    width: 48px;
    height: 65px;

    .card-suite {
      &.btm {
        background-position: right;
        width: 100%;
        height: 43%;
      }
    }
  }

  &.play-cards-sm {
    position: relative;
    width: 18px;
    height: 28px;

    .card-face {
      font-size: 10px;
      text-align: center;
      transform: translateY(-2px);
    }

    .card-suite {
      &.btm {
        background-position: right;
        width: 100%;
        height: 43%;
      }
    }
  }
}

.back-card {
  width: 78px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.back-pink {
    background-image: url('../images/settings/cards/backCards/Pink.svg');
  }

  &.back-green {
    background-image: url('../images/settings/cards/backCards/Green.svg');
  }

  &.back-red {
    background-image: url('../images/settings/cards/backCards/Red.svg');
  }

  &.back-orange {
    background-image: url('../images/settings/cards/backCards/Orange.svg');
  }
}
