<div class="main-contain flex-row">
  <app-side-banner></app-side-banner>
  <div class="login-rhs-container flex-col-start br-right-16 w400 h520 gap16 bg-light p-4">
    <div class="close-icon-img p-rel d-flex jst-end align-center wp100">
      <div class="icons-24 close-icon-bg p-rel wh24 cursor trans-03" (click)="onClose()">
        <span class="top-right opacity-0 trans-03"></span>
      </div>
    </div>
    <div class="login-rhs-container flex-col-start gap24 wp100">
      <div class="login-rhs-body">
        <ng-container *ngIf="enableIsBlock">
          <div class="geo-location-body-container flex-col-center gap24">
            <div class="geo-location-image-body flex-center wp100">
              <div class="geo-location-img flex-center wh72 circle bg-pink000">
                <div class="geo-location-img-body p-rel flex-center wh36 ovf-hide">
                  <img
                    class="p-abs wp100 hp100 obj-con"
                    [src]="assetsImagePath + 'auth/geopin.svg'"
                    alt="geopin"
                    i18n
                    i18n-alt
                  />
                </div>
              </div>
            </div>
            <div
              class="geo-text-container wp90 flex-col-center gap8 bg-grey000 p-5 border-1 border-solid border-grey200 br16"
            >
              <div class="fs20 ft-primary-b primary-error text-capital" i18n>
                Get location blocked
              </div>
              <div class="text-container flex-only-col text-center gap20">
                <div class="alert-text">
                  <div class="fs14 ft-primary-b grey800 text-capital" i18n>
                    Sorry! Access denied
                  </div>
                  <div class="fs14 ft-primary-b grey800 text-capital" i18n>
                    The Location detected is {{ responseData.data.userState }}.
                  </div>
                </div>
                <div class="alert-text">
                  <div class="fs14 ft-primary-sb grey800 text-center" i18n>
                    Unfortunately we cannot service your request to access Adda52.
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-container">
              <button
                type="button"
                mat-button
                class="btn btn-primary"
                id="geolocationblocked-shareyourlocation-btn"
                trackEvents
                i18n
              >
                OK
              </button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isNotice">
          <div class="geo-location-body-container flex-col-center gap24">
            <div class="geo-location-image-body flex-center wp100">
              <div class="geo-location-img flex-center wh72 circle bg-pink000">
                <div class="geo-location-img-body p-rel flex-center wh36 ovf-hide">
                  <img
                    class="p-abs wp100 hp100 obj-con"
                    [src]="assetsImagePath + 'auth/geopin.svg'"
                    alt="geopin"
                    i18n
                    i18n-alt
                  />
                </div>
              </div>
            </div>
            <div
              class="geo-text-container wp90 flex-col-center gap8 bg-grey000 mr-auto p-5 border-1 border-solid border-grey200 br16"
            >
              <div class="fs20 ft-primary-b primary-error" i18n>Notice</div>
              <div class="fs14 ft-primary-sb grey800 text-center" i18n>
                Your GPS location is not accessible for this app. Please go to the device settings
                and allow Adda52 to access the device location
              </div>
            </div>
            <div class="btn-container">
              <button
                type="button"
                mat-button
                class="btn btn-primary"
                id="geolocationblocked-ok-btn"
                trackEvents
                i18n
              >
                Retry
              </button>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="showGeoBlocked">
          <div class="geo-location-body-container flex-col-center gap24">
            <div class="geo-location-image-body flex-center wp100">
              <div class="geo-location-img flex-center wh72 circle bg-pink000">
                <div class="geo-location-img-body p-rel flex-center wh36 ovf-hide">
                  <img
                    class="p-abs wp100 hp100 obj-con"
                    [src]="assetsImagePath + 'auth/geopin.svg'"
                    alt="geopin"
                    i18n
                    i18n-alt
                  />
                </div>
              </div>
            </div>
            <div
              class="geo-text-container wp90 flex-col-center gap8 bg-grey000 p-5 border-1 border-solid border-grey200 br16"
            >
              <div class="fs20 ft-primary-b primary-error text-capital" i18n>
                Get location blocked
              </div>
              <div class="text-container flex-only-col text-center gap20">
                <div class="alert-text">
                  <div class="fs14 ft-primary-b grey800 text-capital" i18n>
                    Sorry! Access denied
                  </div>
                  <div class="fs14 ft-primary-sb grey800 text-center" i18n>
                    Unfortunately we cannot service your request to access Adda52.
                  </div>
                </div>
                <div class="alert-text">
                  <div class="fs14 ft-primary-sb grey800 text-center" i18n>
                    If you are not in <span class="fs14 ft-primary-b grey800">Telangana</span> and
                    still receiving this message.
                  </div>
                </div>
                <div class="alert-text">
                  <div class="fs14 ft-primary-sb grey800 text-center" i18n>
                    Please click on the button below to Share Your Location.
                  </div>
                </div>
              </div>
            </div>
            <div class="btn-container">
              <button
                type="button"
                mat-button
                class="btn btn-primary"
                id="geolocationblocked-shareyourlocation-btn"
                (click)="getUserLocation()"
                trackEvents
                i18n
              >
                Share Your Location
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
