@import '../../../../../assets/abstract/core';

.bonus-info {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $border-grad-grey;
  }
}
