<div class="open-tables-container">
  <div class="open-tables-widget">
    <div class="open-tables-title">
      <div class="open-table-icon"></div>
      <div class="open-table-text">Open Tables:</div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget">
      <div class="play-card two-cards"></div>
      <div class="play-card two-cards"></div>
      <div class="play-status">
        <div class="play-status-text">R</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
    <div class="table-widget selected-table">
      <div class="play-card five-cards"></div>
      <div class="play-card five-cards"></div>
      <div class="play-card five-cards"></div>
      <div class="play-card five-cards"></div>
      <div class="play-card five-cards"></div>
      <div class="play-status">
        <div class="play-status-text">F</div>
        <div class="play-status-percent">60%</div>
      </div>
    </div>
  </div>
</div>
