<form
  [formGroup]="buyInForm"
  class="game-table-buy-in wp100 hp100 d-flex flex-col jst-space gap16 br16 bg-dark p-4"
>
  <div class="ft-primary-b fs20 grey000" i18n>Anti Banking</div>

  <div class="flex-start gap8">
    <div
      class="game-type d-flex jst-center align-center gap10 h30 bg-grey800 py-2 px-3 ft-primary-sb fs12 grey400"
    >
      Holdem
    </div>
    <div class="ft-primary-b fs14 grey000" i18n>Hold’em Bluff Deep</div>
  </div>

  <div class="d-flex jst-space align-center gap16 wp100">
    <div class="d-flex flex-col align-start gap8 wp50 br12 bg-grey900 p-2">
      <div class="fs10 ft-primary-b grey400 text-uppercase" i18n>Blinds</div>
      <div class="fs16 ft-primary-b grey000" i18n>100/200</div>
    </div>
    <div class="d-flex flex-col align-end gap8 wp50 br12 bg-grey900 p-2">
      <div class="fs10 ft-primary-b grey400 text-uppercase" i18n>Available Balance</div>
      <div class="fs16 ft-primary-b grey000" i18n>₹ 30</div>
    </div>
  </div>

  <div class="d-flex flex-col align-center gap8">
    <div class="d-flex jst-center align-center gap8 fs14 ft-primary-b grey000" i18n>
      Anti Banking will end in: <span class="grad-orange-text">19:50</span>
    </div>
    <div class="fs12 ft-primary-rg grey000" i18n>
      You got up with 60 Chips, Sit with the same amount of chips
    </div>
  </div>

  <div class="slider-box d-flex flex-col align-start gap12 wp100">
    <div class="slider-box-range d-flex jst-space align-center wp100">
      <div class="slider-range-min d-flex flex-col align-start gap2">
        <div class="fs16 ft-primary-b grey000">₹ {{ min }}</div>
        <div class="fs10 ft-primary-sb grey400" i18n>Min</div>
      </div>
      <div class="slider-range-max d-flex flex-col jst-end align-center gap2">
        <div class="fs16 ft-primary-b grey000">₹ {{ max }}</div>
        <div class="fs10 ft-primary-sb grey400" i18n>Max</div>
      </div>
    </div>
    <div class="wp100">
      <!-- Custom Default Slider -->
      <p-slider
        [(ngModel)]="buyIn"
        [min]="min"
        [max]="max"
        [disabled]="false"
        styleClass="game-table-slider"
        *ngIf="true"
      ></p-slider>
      <!-- Custom Orange Slider -->
      <p-slider
        [(ngModel)]="buyIn"
        [min]="min"
        [max]="max"
        [disabled]="false"
        styleClass="game-table-slider slider-orange"
        *ngIf="false"
      ></p-slider>
    </div>
  </div>

  <div class="d-flex jst-start align-center gap8">
    <label class="input-label w89 fs12 ft-primary-md grey400" i18n>You are buying in for</label>
    <input
      type="text"
      [(ngModel)]="buyInAmount"
      formControlName="buyInAmount"
      [ngClass]="{ 'input-error': !buyInForm.valid }"
      [disabled]="false"
      class="buy-in-input w112 h48 fs14 ft-primary-b bg-grey900 primary-light br12 py-3 px-4"
      i18n-placeholder
    />
    <!-- Error Messages -->
    <div class="error-box w111 fs12 ft-primary-b primary-error" *ngIf="false" i18n>
      You have<br />insufficient balance
    </div>
    <div class="error-box w111 fs12 ft-primary-b primary-error" *ngIf="false" i18n>
      Please select a value from the buy in range
    </div>
  </div>
  <div class="d-flex jst-space align-center gap16 wp100">
    <button
      type="button"
      mat-button
      class="btn btn-dark d-flex jst-center align-center py-2 wp50 h40"
      mat-dialog-close
    >
      <span class="fs14 ft-primary-b primary-light" i18n>Cancel</span>
    </button>
    <div class="btn-with-timer d-flex jst-start align-center wp50 h40">
      <span
        class="timer-cta d-flex jst-center align-center fs16 ft-primary-b primary-light"
        [ngClass]="{ 'cta-disabled': false }"
        >00:15</span
      >
      <button
        type="button"
        mat-button
        [disabled]="false"
        class="btn btn-success d-flex jst-center align-center h40"
      >
        <span class="fs16 ft-primary-b primary-light" i18n>Buy In</span>
      </button>
    </div>
  </div>
</form>
