<div class="dialog-modal">
  <div class="dialog-modal-body flex-only-col gap16 p-5 wp100">
    <div class="dialog-modal-body-header flex-col-start p100">
      <div class="dialog-modal-title fs20 ft-primary-b grey900" i18n>Alert</div>
    </div>
    <div class="dialog-modal-body-content flex-col-center gap32 wp100">
      <div class="modal-text fs14 ft-m grey900 text-wrap wp100" i18n>
        Since, you have logged in on Desktop Browser you are being disconnected from this device.
      </div>
      <div class="btn-container wp100">
        <button
          type="button"
          mat-button
          mat-dialog-close
          class="btn btn-primary wp100"
          id="alert-alert-btn"
          trackEvents
          i18n
        >
          OK
        </button>
      </div>
    </div>
  </div>
</div>
