<div class="main-contain flex-row">
  <app-side-banner></app-side-banner>
  <div class="rhs flex-col-start p-rel br-right-16 w400 h520 gap16 bg-light p-4">
    <div class="close-icon-img p-rel d-flex jst-end align-center wp100">
      <div class="icons-24 close-icon-bg p-rel wh24 cursor trans-03" (click)="onClose()">
        <span class="top-right opacity-0 trans-03"></span>
      </div>
    </div>
    <div class="login-rhs-container p-rel flex-col-start gap24 wp100">
      <div class="login-rhs-header flex-col-start gap24 wp100">
        <div
          class="login-rhs-header-title flex-row fs20 grey800 gap10 ft-primary-b text-capital"
          i18n
        >
          Reset Password
        </div>
      </div>
      <div class="user-name-input-container flex-col-start gap16">
        <div
          class="form-input ft-primary-b fs14 br12 wp100 h46 form-password flex-row"
          [ngClass]="invalidNewPass ? 'invalid-fields' : ''"
        >
          <input
            class="password-input form-input-placeholder ft-primary-b fs14 grey900 border-0"
            maxlength="20"
            [(ngModel)]="resetPasswordModel.newPassword"
            (ngModelChange)="onNewPasswordChange()"
            [ngClass]="invalidNewPass ? 'invalid-fields input-error' : ''"
            [type]="newPasswordType"
            placeholder="Enter Password"
            i18n-placeholder
            autocompleteOff
          />
          <img
            style="cursor: pointer"
            alt="show_password"
            [src]="assetsImagePath + newPasswordEyeImagePath"
            (click)="showNewPassword()"
            i18n
            i18n-alt
          />
        </div>
        <div class="password-text-matching-container flex-col-start gap12">
          <div class="password-text-title fs12 ft-primary-sb grey900" i18n>
            Password must be at least
          </div>
          <div class="password-matching flex-row gap4 fs12 ft-primary-sb grey500" i18n>
            <div class="img-check-mark wh16" *ngIf="verifiedImagePath; else notVerified"></div>
            <ng-template #notVerified>
              <div class="img-check-mark img-active wh16"></div>
            </ng-template>
            <div class="text fs12 ft-primary-sb grey500">8-20 Characters long</div>
          </div>
        </div>
        <div class="user-name-input flex-col-start gap8">
          <div
            class="form-input ft-primary-b fs14 br12 wp100 h46 form-password flex-row"
            [ngClass]="
              invalidConfirmPass
                ? 'invalid-fields input-error'
                : verifiedImagePath
                ? 'disabled'
                : ''
            "
          >
            <input
              class="password-input form-input-placeholder ft-primary-b fs14 grey900 border-0"
              maxlength="20"
              [disabled]="verifiedImagePath"
              [(ngModel)]="resetPasswordModel.confirmPassword"
              [ngClass]="invalidConfirmPass ? 'invalid-fields' : ''"
              [type]="confirmPasswordType"
              placeholder="Confirm Password"
              (ngModelChange)="validateForm()"
              i18n-placeholder
              autocompleteOff
            />
            <img
              style="cursor: pointer"
              alt="show_password"
              [src]="assetsImagePath + confirmPasswordEyeImagePath"
              (click)="showConfirmPassword()"
              i18n
              i18n-alt
            />
          </div>
          <span class="alert-text fs12 ft-primary-sb primary-error" *ngIf="showStatusText" i18n
            >Password does not match. Enter again and try
          </span>
        </div>
      </div>
      <div class="btn-container">
        <button
          type="button"
          mat-button
          [disabled]="!enableConfirmBtn"
          class="btn btn-primary"
          (click)="onConfirmClicked()"
          id="passwordreset-confirm-btn"
          trackEvents
          i18n
        >
          Confirm
        </button>
      </div>
    </div>
    <div class="login-rhs-footer" *ngIf="isShowToast">
      <app-toast [toastValue]="toastValue" [(isShowToast)]="isShowToast"></app-toast>
    </div>
  </div>
</div>
