@import '../../../../../assets/abstract/core';
@import '../../../../../assets/theme/components/common-styles';

.form-password {
  .password-input {
    width: 310px;
  }

  input[type='text'].password-input {
    font-size: $fs14;
  }

  input[type='password'].password-input {
    font-size: $fs22;
    letter-spacing: 0.025em;
    background: transparent;
  }
}
